{% extends "PetShelter/base.html" %}
{% load staticfiles %}

{% block title %} Receive animals - PetShelter {% endblock %}

{% block navbar %}
  &nbsp;&nbsp;Current location:
  <a href="{% url 'index' %}">Home</a>&nbsp;&gt;
  <a href="{% url 'management' %}">Management</a>&nbsp;&gt;
  Receive animals
{% endblock %}

{% block body %}
 <form method='POST' action="{% url 'man_receive' %}">
   <select id="sas" class="files" name="sas"></select>
   <table class="files">
    {% for f, v in animal.get_fields %}
     {% if f.name != 'adopted_price' and f.name != 'stage' and f.name != 'shelter' %}
      <tr>
        <td class="key"> {{ f.name }} </td>
        <td class="value">
         {% if f.name == 'gender' %}
          <input type="radio" name="a_gender" value="male" checked="checked" id="a_male" />
          <label for="a_male"> Male </label>
          <input type="radio" name="a_gender" value="female" id="a_female" />
          <label for="a_female"> Female </label>
         {% elif f.name == 'spayed_or_neutered' %}
          <input type="checkbox" name="spayed_or_neutered" id="spayed_or_neutered" />
         {% else %}
          <input type="text" name="{{ f.name }}" />
         {% endif %}
        </td>
      </tr>
     {% endif %}
    {% endfor %}
      <tr>
        <td class="key"> photos </td>
        <td class="value">
        </td>
      </tr>
      <tr>
        <td class="key"> reason </td>
        <td class="value">
          <input type="text" name="reason" />
        </td>
      </tr>
   </table>
   <input id="add" class="button" type="button" name="add" value="Add" />
   <input id="remove" class="button" type="button" name="remove" value="Remove" />
   <input id="edit" class="button" type="button" name="edit" value="Edit" />
   <input class="submit" type="reset" value="Reset form" />
   <input class="submit" type="submit" value="Submit" />
 </form>
{% endblock %}

