{% extends "PetShelter/base.html" %}

{% block title %} All staffs - PetShelter {% endblock %}

{% block navbar %}
  &nbsp;&nbsp;Current location:
  <a href="{%url 'index'%}">Home</a>&nbsp;&gt;
  Staffs
{% endblock %}

{% block body %}
  <ul class="members"><strong>Members</strong>
   {% for m in members %}
    <li><div>
      <a href="{% url 'staff' m.staff_id %}">{{ m.staff }}</a>
    <div></li>
   {% endfor %}
  </ul>
  <ul class="volunteers"><strong>Volunteers</strong>
   {% for v in volunteers %}
    <li><div>
     {% if v.accepted == False %}
      <a href="{% url 'user' v.staff_id %}">{{ v.staff }}</a> (Not accepted)
     {% else %}
      <a href="{% url 'staff' v.staff_id %}">{{ v.staff }}</a>
     {% endif %}
    <div></li>
   {% endfor %}
  </ul>
{% endblock %}

