body {
  background: #F1F1F1;
  margin: 0px;
} /* body */

div#logo {
  background: #DBDBDB;
  padding: 10% 5% 1% 5%;
  font-size: 40pt;
} /* div#logo */

div#container {
  width: 96%;
  margin-left: 2%;
} /* div#container */

ul#menu {
  border: solid 1px gray;
  box-shadow:2px 2px 3px #AAA;
  margin-left: 1%;
  margin-top:1%;
  float: left;
  width: 20%;
} /* ul#menu */

li {
  list-style: none;
  margin: 5px;
} /* li */

li.mi {
  margin-left: -20pt;
} /* li */

li.li-level1 {
  font-weight: 700;
  text-decoration: underline;
} /* li.li-level1 */

li.li-level2 {
  font-weight: normal;
} /* li.li-level2 */

li.li-level3 {
  font-weight: normal;
} /* li.li-level3 */

div.subset {
  border: solid 1px gray;
  box-shadow:2px 2px 3px #AAA;
  margin-right: 1%;
  margin-top:1%;
  float: right;
  width: 70%;
} /* div.subset */

div#nav-bar {
  padding: 0.5% 0%;
} /* div#nav-bar */

div.event-wrapper {
  background: lightblue;
  text-indent: 10px;
  padding-top: 1%;
} /* div.event-wrapper */

ul.event-list {
  background: #F1F1F1;
  margin: 0px;
  padding: 1px;
} /* ul.event-list */

span.more {
  float: right;
  margin-right: 2%;
} /* span */

table, .files {
  border: solid thin;
  width: 80%;
  margin: 5% 10%;
  padding: 0%;
} /* table */

#sas {
  margin-bottom: auto;
}

td {
  border: solid thin;
  padding: 1% 2%;
} /* td */

td.key {
  width: 35%;
  font-weight: bold;
  text-align: right;
  padding-right: 3%;
} /* td.key */

td.value {
  width: 65%;
} /* td.value */

.media {
  width: 100px;
  margin: 0px 10px;
} /* .media */

img, select {
  width: 100%;
} /* img */

[type="text"], [type="password"] {
 width: 100%;
} /* [type="text"], [type="password"] */

.button {
  width: 15%;
  margin: 8.5%;
  margin-top: auto;
}

.submit {
  width: 20%;
  margin: 14%;
  margin-top: auto;
}

