{% extends "PetShelter/base.html" %}
{% load staticfiles %}

{% block title %} Adopt animals - PetShelter {% endblock %}

{% block navbar %}
  &nbsp;&nbsp;Current location:
  <a href="{% url 'index' %}">Home</a>&nbsp;&gt;&nbsp;Applications&nbsp;&gt;
  Adopt animals
{% endblock %}

{% block body %}
 {% if status != None %}
   <p id="status" class="files"> {{ status }} </p>
 {% else %}
   <p id="status" class="files" style="display:none;"> Success </p>
 {% endif %}
 <form method='POST' action="{% url 'app_adopt' %}">
  {% csrf_token %}
   <ul class="files">
    {% for animal in animals %}
     <li>
       {% for f in files %}
        {% if f.animal == animal %}
         <a href="{% url 'animal_species' animal.species animal.animal_id %}">
           <img class="media" src="{% static f.path %}" alt="{{ f.path }}" />
         </a>
        {% endif %}
       {% endfor %}
       <input type="checkbox" name="adoptions" id="{{ animal.animal_id }}" value="{{ animal.animal_id }}" />
       <label for="{{ animal.animal_id }}">
         <a href="{% url 'animal_species' animal.species animal.animal_id %}">
           {{ animal }}
         </a>
       </label>
     </li>
    {% endfor %}
   </ul>
   <table class="files">
    {% for f, v in people.get_fields %}
     {% if f.name != 'user_type' %}
      <tr>
        <td class="key"> {{ f.name }} </td>
        <td class="value">
         {% if f.name == 'gender' %}
          <input type="radio" name="gender" value="male" checked="checked" id="male" />
          <label for="male"> Male </label>
          <input type="radio" name="gender" value="female" id="female" />
          <label for="female"> Female </label>
         {% else %}
          <input type="text" name="{{ f.name }}" />
         {% endif %}
        </td>
      </tr>
     {% endif %}
    {% endfor %}
   </table>
   <input class="submit" type="reset" value="Reset form" />
   <input class="submit" type="submit" value="Submit" />
 </form>
{% endblock %}

{% block javascript %}
 <script src="{% static 'PetShelter/javascript/app_adopt.js' %}"></script>
{% endblock %}

