{% extends "PetShelter/base.html" %}

{% block title %} Adoption request (id: "{{ adoption.id }}") - PetShelter {% endblock %}

{% block navbar %}
  &nbsp;&nbsp;Current location:
  <a href="{%url 'index'%}">Home</a>&nbsp;&gt;
  <a href="{% url 'management' %}">Management</a>&nbsp;&gt;
  <a href="{%url 'man_req_adoptions'%}">Adoption requests</a>&nbsp;&gt;
  {{ adoption.id }}
{% endblock %}

{% block body %}
 <form method='POST' action="{% url 'man_req_adoption' adoption.id %}">
   <table>
    {% for f, v in adoption.get_fields %}
     {% if f.name != 'id' %}
     <tr>
       <td class="key"> {{ f.name }} </td>
       <td class="value">
        {% if f.name == 'adopter' %}
         <a href="{% url 'user' v|first %}"> {{ v|last }} </a>
        {% elif f.name == 'animal' %}
         <a href="{% url 'animal_species' v.0 v.1 %}"> {{ v|last }} </a>
        {% else %}
         {{ v }}
        {% endif %}
       </td>
     </tr>
     {% endif %}
    {% endfor %}
   </table>
   <input class="submit" type="submit" name="reject" value="Reject" />
   <input class="submit" type="submit" name="accept" value="Accept" />
 </form>
{% endblock %}

